<h3 class="text-center">Sản Phẩm</h3>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group form-row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Tên"
        formControlName="name"
        [typeahead]="products"
        typeaheadOptionField="name"
        (typeaheadOnSelect)="onSelect($event)"
      />
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Diễn giải"
        formControlName="description"
      />
    </div>
    <div class="col">
      <select class="form-control" formControlName="type">
        <option *ngFor="let item of items" [ngValue]="item.type">{{ item.name }}</option>
      </select>
    </div>
    <div class="col">
      <input type="number" class="form-control" placeholder="Giá" formControlName="price" />
    </div>
    <div class="col">
      <div class="btn-group">
        <button type="submit" class="btn btn-outline-primary" [disabled]="productForm.invalid">
          Cập nhật
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="deleteProduct()"
          [disabled]="!productId"
        >
          Xóa
        </button>
      </div>
    </div>
  </div>
</form>
<app-product-list></app-product-list>
