<h4 class="text-center">Cập nhật hóa đơn</h4>
<form [formGroup]="orderLineForm" (ngSubmit)="onSubmit()">
  <div class="form-group form-row align-items-center">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Tên"
        formControlName="name"
        [typeahead]="products"
        typeaheadOptionField="name"
        (typeaheadOnSelect)="onSelect($event)"
      />
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Số lượng</div>
        </div>
        <input
          type="number"
          class="form-control"
          formControlName="quantity"
          [readonly]="product == null"
        />
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Giá</div>
        </div>
        <input
          type="text"
          [value]="orderLineForm.get('price').value | number"
          class="form-control"
          formControlName="price"
          readonly
        />
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">TC</div>
        </div>
        <input
          type="text"
          [value]="orderLineForm.get('total').value | number"
          class="form-control"
          formControlName="total"
          readonly
        />
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Tồn kho</div>
        </div>
        <input
          type="text"
          [value]="orderLineForm.get('inStock').value | number"
          class="form-control"
          formControlName="inStock"
          readonly
        />
      </div>
    </div>
    <div class="col">
      <div class="btn-group">
        <button type="submit" class="btn btn-outline-primary" [disabled]="orderLineForm.invalid">
          Cập nhật
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          [disabled]="existedOrderLine == null"
          (click)="delete()"
        >
          Xóa
        </button>
      </div>
    </div>
  </div>
</form>
<alert *ngIf="errors" [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
