<h4 class="text-center">Cập nhật hóa đơn</h4>
<form [formGroup]="orderLineForm" (ngSubmit)="onSubmit()">
  <div class="form-group form-row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Tên"
        formControlName="name"
        [typeahead]="products"
        typeaheadOptionField="name"
        (typeaheadOnSelect)="onSelect($event)"
      />
    </div>
    <div class="col">
      <input
        type="number"
        class="form-control"
        placeholder="Số lượng"
        formControlName="quantity"
        [readonly]="product == null"
      />
    </div>
    <div class="col">
      <input
        type="text"
        [value]="orderLineForm.get('price').value | number"
        class="form-control"
        placeholder="Giá"
        formControlName="price"
        readonly
      />
    </div>
    <div class="col">
      <input
        type="text"
        [value]="orderLineForm.get('total').value | number"
        class="form-control"
        placeholder="Thành tiền"
        formControlName="total"
        readonly
      />
    </div>
    <div class="col">
      <div class="btn-group">
        <button type="submit" class="btn btn-outline-primary" [disabled]="orderLineForm.invalid">
          Cập nhật
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          [disabled]="existedOrderLine == null"
          (click)="delete()"
        >
          Xóa
        </button>
      </div>
    </div>
  </div>
</form>
<alert *ngIf="errors" [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
